<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:annotation-driven />

	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="com.gdt.shop.web" />

	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="velocimacro.library">macro/macros.vm</prop>
			</props>
		</property>
	</bean>

	<bean id="velocityView" class="com.gdt.shop.util.AstuteLayoutViewResolver">
		<property name="order" value="20" />
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="layoutUrl" value="layout/layout.vm" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="toolboxConfigLocation" value="toolbox/toolbox.xml" />
		<property name="dateToolAttribute" value="date" />
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="order" value="1" />
		<property name="defaultErrorView" value="error500" />
		<property name="defaultStatusCode" value="500" />
		<property name="exceptionMappings">
			<props>
                <prop key="org.springframework.beans.TypeMismatchException">error400</prop>
                <prop key="org.springframework.web.HttpRequestMethodNotSupportedException">error400</prop>
                <prop key="org.springframework.web.HttpMediaTypeNotAcceptableException">error400</prop>
                <prop key="org.springframework.web.HttpMediaTypeNotSupportedException">error400</prop>
                <prop key="org.springframework.web.bind.MethodArgumentNotValidException">error400</prop>
                <prop key="org.springframework.web.bind.ServletRequestBindingException">error400</prop>
                <prop key="org.springframework.web.bind.MissingServletRequestParameterException">error400</prop>
                <prop key="org.springframework.web.multipart.support.MissingServletRequestPartException">error400</prop>
                <prop key="org.springframework.web.servlet.mvc.multiaction.NoSuchRequestHandlingMethodException">error400</prop>
                <prop key="org.springframework.http.converter.HttpMessageNotReadableException">error400</prop>
                <prop key="org.springframework.beans.ConversionNotSupportedException">error500</prop>
                <prop key="org.springframework.http.converter.HttpMessageNotWritableException">error500</prop>
            </props>
		</property>
		<property name="statusCodes">
            <map>
                <entry key="error400" value="400" />
                <entry key="error404" value="404" />
                <entry key="error500" value="500" />
            </map>
        </property>
	</bean>

	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="40" />
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
