<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<variable name="log_location" value="${log_directory}"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<!-- 系统或组件日志采用基于文件大小的策略 -->
	<appender name="COMPONENT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_location}\\component.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>component.log.%i.bak</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>12</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<!-- 默认的业务日志采用基于时间的策略-->
	<appender name="COMMON-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_location}\\common.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>common.log.%d{yyyy-MM-dd}.bak</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="COMPONENT-FILE" />
	</root>
	
	<logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.opensymphony" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
	
	<logger name="org.gdt.shop" level="INFO" additivity="false">
		<appender-ref ref="COMMON-FILE" />
	</logger>
	
</configuration>